.mfx-scroll-pane{
    -fx-background-color: transparent;
}
.mfx-scroll-pane .paneport{
    -fx-background-color:transparent;
}

.mfx-scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color:#26722b;
}

.mfx-scroll-pane .scroll-bar:vertical .thumb:hover{
    -fx-background-color:#19501d;
}

.mfx-scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: #cdcdcd;
}

