.anchor-pane{
    -fx-background-color: #46e353;
}

.parent-container{
    -fx-background-color: #3BBD46;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.5),6,0.0,0.0,0.0);
    -fx-background-radius: 20;
}


