.parent-container{

    -fx-pref-height: 660px;

    -fx-background-color:  -theme-white;
}

.title-label{
    -fx-font-weight:bold;
    -fx-font-size:32px;
    -fx-text-fill:-theme-dark-blue;
}

.floating-box{



    -fx-background-radius:20px;
    -fx-border-radius:20px;
    /*-fx-border-width: 1px;*/
    /*-fx-border-color:-theme-deep-blue;*/

    -fx-background-color: -theme-grey;
    -fx-effect: dropShadow(two-pass-box,-theme-blue,6,0,0,0);

}