#parent-container{

    -fx-background-radius:20;
    -fx-border-width:2px;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-background-color: -theme-blue;
    -fx-border-color:-theme-deep-blue;


}

.label{
    -fx-text-fill: -theme-deep-blue;
}

#action-container{
    -fx-padding: 10px;
    -fx-background-radius: 20px;
    -fx-effect: innershadow( two-pass-box , -theme-less-dark-blue, 4 , 0.2 ,0 , 0);
    -fx-background-color: -theme-less-dark-blue;

}

#copy-menu{
    -fx-background-color: transparent;
}

#copy-menu >.arrow-button>.arrow{
    -fx-padding: 0;
}