.menu-button .arrow-button{
    visibility: false;
}

.menu-button{
    -fx-background-color:transparent;
    -fx-padding:0px -25px 0px -5px;
}

.menu-button .context-menu{
    -fx-background-color: rgb(60,60,60);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}